#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
    height: 100%;
  }

  .ant-layout-sider{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .CollapsedTrigger{
    background: #02355C;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }

  .trigger{
    color: white;
  }
